.nav {
  margin: 0 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #28048d;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.active {
  font-weight: 600;
  color: #28048d;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #373737;
}

.loader {
  margin: 120px auto;
  text-align: center;
}
.loaderSpan {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #373737;
}

.loaderIcon {
  /* margin-top: 2px; */
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
